@using System.Collections.Generic
@model WebAppPolyclinic.Models.LogginedUserInfo

@{
    ViewBag.Title = "Главная";
    

    ViewBag.User = User.Identity.Name;

}

<div class="jumbotron">
    <h1>Панель записи в поликлинику Владимир XXI</h1>
    <p class="lead">Если хотите посмотреть список доступных записей, перейдите на страницу:</p>
    <p>
        @Html.ActionLink("Список доступных приёмов", "Index", "Appointment", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

@*<div class="panel panel-primary">
    <div class="panel-heading">Данные пользователей</div>
    <table class="table table-striped">
        @foreach (string key in Model.Keys)
        {
            <tr>
                <th>@key</th>
                <td>@Model[key]</td>
            </tr>
        }
    </table>
</div>*@